---
page_title: "environment_variables Data Source - terraform-provider-environment"
subcategory: ""
description: |-
  Reads environment variables with optional filtering and encoding.
---

# environment_variables (Data Source)

Reads environment variables with optional filtering and encoding.

## Example Usage

{{tffile "examples/data-sources/environment_variables/data-source.tf"}}

{{ .SchemaMarkdown }}
