---
page_title: "environment_variables Ephemeral Resource - terraform-provider-environment"
subcategory: ""
description: |-
  Reads environment variables with optional filtering and encoding (ephemeral).
---

# environment_variables (Ephemeral Resource)

Reads environment variables with optional filtering and encoding (ephemeral).

## Example Usage

{{tffile "examples/ephemeral-resources/variables/ephemeral-resource.tf"}}

{{ .SchemaMarkdown }}
